@if (isAddingTask) {
    <app-new-task (close)="onCloseAddTask()"/>
}

<mat-card class="tasks-card" [ngClass]="{'card-back': isAddingTask}">
    <mat-card-header>
        <mat-card-title>Tasks List</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        @for (task of (tasks$ | async); track task.id) {
            <app-task [task]="task"/>
        }
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onStartAddTask()">Add new task</button>
    </mat-card-actions>

</mat-card>
