<mat-card class="pesel-card">
  <mat-card-header class="decoder-card-header">
      <mat-card-title>Pesel Decoder</mat-card-title>
  </mat-card-header>

  <form class="decoder-form" [formGroup]="peselDecoderForm">
    <mat-form-field class="example-full-width">
      <mat-label>PESEL</mat-label>

      <input matInput placeholder="ex. 12080647156" formControlName="pesel" />

      <mat-hint *ngIf="peselDecoderForm.get('pesel')?.pending">Checking PESEL...
      </mat-hint>
      <mat-error *ngIf="peselDecoderForm.get('pesel')?.errors?.['invalidLength']">PESEL must be exactly 11 digits.
      </mat-error>
      <mat-error *ngIf="peselDecoderForm.get('pesel')?.errors?.['invalidDate']">PESEL contains an invalid birth date.
      </mat-error>
      <mat-error *ngIf="peselDecoderForm.get('pesel')?.errors?.['invalidChecksum']">PESEL checksum is incorrect.
      </mat-error>
    </mat-form-field>
  </form>

  <mat-card-actions class="decoder-card-actions">
    <button mat-raised-button color="primary"  [disabled]="!peselDecoderForm.valid" (click)="onSubmit()">
      Submit
    </button>
  </mat-card-actions>

  <div *ngIf="birthDate">
    <p>Birth Date: {{ birthDate | date:'yyyy-MM-dd' }}</p>
    <p>Gender: {{ gender }}</p>
  </div>

</mat-card>
