<mat-card class="single-task-card">
    <mat-card-content>
        <div class="task-row">

            <div class="checkbox-text-wrapper">
                <div class="checkbox-section">
                    <mat-checkbox color="primary" [(ngModel)]="task.completed" (change)="onCompletedTask()"></mat-checkbox>
                </div>

                <div class="text-section">
                    <span class="task-name" [ngClass]="{'completed-task': task.completed}">
                        {{ task.taskName }}
                    </span>
                </div>
            </div>

            <div class="button-wrapper">
                <div class="button-section">
                    <button mat-mini-fab color="edit" (click)="onEditTaskDialog()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>

                <div class="button-section">
                    <button mat-mini-fab color="archive" (click)="onArchiveTask()">
                        <mat-icon>archive</mat-icon>
                    </button>
                </div>
            </div>

        </div>
    </mat-card-content>
</mat-card>
