.single-task-card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-width: 50rem;
    margin: 0 auto 1rem auto;
    text-align: left;
    padding: 1rem;
    border-radius: 12px;
    background: linear-gradient(to bottom, #cfcdef, #fcfcfc);
  }

.task-row {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.checkbox-text-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
    max-width: 300px;
}

.checkbox-section {
    flex-shrink: 0;
}

.text-section {
    flex-grow: 1;
    word-break: break-word;
    overflow-wrap: break-word;
}

.task-name {
    display: block;
    max-width: 100%;
}
.button-wrapper {
    display: flex;
    gap: 10px;
}

.button-section {
    flex-shrink: 0;
}

.mat-delete {
    background-color: rgb(250, 115, 115);
}

.completed-task {
    text-decoration: line-through;
    color: gray;
}

@media (max-width: 400px) {
    .task-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .checkbox-text-wrapper {
        width: 100%;
    }

    .button-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
        gap: 10px;
    }
}