<mat-card class="tasks-card">
    <mat-card-header>
        <mat-card-title>Archived Tasks List</mat-card-title>
    </mat-card-header>

    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applySearch($event)" placeholder="task" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="task">
            <th mat-header-cell *matHeaderCellDef> Task </th>
            <td mat-cell *matCellDef="let element"> {{element.taskName}} </td>
        </ng-container>

        <ng-container matColumnDef="completion">
            <th mat-header-cell *matHeaderCellDef> Completed </th>
            <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="button-section">
                    <button mat-mini-fab color="" (click)="onRestoreTask(element)">
                        <mat-icon>restore</mat-icon>
                    </button>
                    <button mat-mini-fab color="delete" (click)="onDeleteTask(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-card-actions style="display: flex; gap: 10px;">
        <button mat-raised-button color="primary" routerLink="/active-tasks">Go to Active Tasks</button>
    </mat-card-actions>

</mat-card>